<div class='top-background' style="background-image: url(<%= asset_path('toothbrush.png') %>);">
  <div class="home-content wrapper">
    <div class='top-logo'><%= image_tag "top.png", class:"img-fluid" %></div>
    <h3>Dressing for 2 years children</h3>
    <h2>2歳児の身支度を親子で楽しもう！</h2>
    <%= image_tag 'fox.png', class: 'mx-auto', size: '400x400' %>
    <% if !logged_in? %>
      <%= link_to "始めてみる", new_user_path, class:"btn btn-primary" %>
      <%= link_to "ゲストログイン", guest_login_path, data: { turbo_method: :post }, class:"btn btn-info text-white" %>
    <% end %> 
  </div>
</div>
