
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #c8e7ed;">
    <div class="container-fluid">
      <%= link_to root_path, class:'navbar-brand' do %>
        <%= image_tag 'd2c_logo.png' %>
      <% end %>
      

      <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>

      
        <!-- 検索フォーム -->
      <%= render 'shared/search_post_form', search_form: @search_form %>
      

      <!-- 画面幅が小さくなった時に、collapseに入る要素。liで並列になっている-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
            <%= link_to t('posts.new.title'), new_post_path, class: 'btn btn-info text-white me-2' %>
          </li>
          <li class="nav-item">
            <%= link_to t('posts.index.title'), posts_path, class: 'btn btn-info text-white me-2' %>
          </li>

          <li class="nav-item dropdown ms-2 d-inline-block">
            <a class="rounded-circle" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              <div class="avatar avatar-md">
                <%= image_tag "#{current_user.avatar}.png", class: 'rounded-circle avatar-sm', size: '60' %>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <div class="dropdown-item">
                <div class="d-flex">
                  <div class="avatar avatar-md">
                    <%= image_tag "#{current_user.avatar}.png", class: 'rounded-circle avatar-sm', size: '60' %>
                  </div>
                  <div class="ms-3 lh-1">
                    <h5 class="mb-1"><%= current_user.name %></h5>
                    <p class="mb-0 text-muted"><%= current_user.email  if !current_user.guest? %></p>
                  </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <%= link_to "#", class:"dropdown-item" do %>
                    <%= image_tag 'like_dog.png', size: '40x40' %>いいね一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to bookmarks_posts_path, class:"dropdown-item" do %>
                    <%= image_tag 'bookmark.png', size: '40x40' %>ブックマーク
                  <% end %>
                </li>
                <li>
                  <%= link_to profile_path, class:"dropdown-item" do %>
                    <%= image_tag 'profile_transparent.png', size: '40x40' %>プロフィール
                  <% end %>
                </li>
              </ul>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <%= link_to logout_path, data: { turbo_method: :delete }, class: 'dropdown-item' do%>
                    <i class="bi bi-box-arrow-left me-2"></i><%= (t 'defaults.logout') %>
                  <% end %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
