<p>各投稿の<%= image_tag 'unlike_dog.png', size: '40x40' %>を押すといいねできるよ！<%= image_tag 'like_dog.png', size: '40x40' %></p>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to (t 'defaults.nav_tabs.new_posts'),posts_path, class: "nav-link #{active_if('posts', 'index')}" %>
  </li>
  <li class="nav-item">
    <%= link_to (t 'defaults.nav_tabs.most_liked'), most_liked_posts_path, class: "nav-link #{active_if('posts', 'most_liked')}" %>
  </li>
  <li class="nav-item">
    <%= link_to (t 'defaults.nav_tabs.most_bookmarked'), most_bookmarked_posts_path, class: "nav-link #{active_if('posts', 'most_bookmarked')}" %>
  </li>
  <li class="nav-item">
    <%= link_to (t 'defaults.nav_tabs.comprehensive'), conprehensive_posts_path, class: "nav-link #{active_if('posts', 'conprehensive')}" %>
  </li>
</ul>
