<div class="container mb-5">
    <%= form_with model: post, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group mt-3">
        <%= f.fields_for :category do |i| %>
            <%= i.select :category_id, [["お風呂", 1], ["歯磨き", 2], ["お片付け", 3], ["食事", 4], ["着替え", 5],["お出かけ", 6]], class: "form-control" %>
        <% end %>
        </div>
        <div class="form-group mt-3">
            <%= f.label :title %>
            <%= f.text_field :title, class:'form-control'%>
        </div>
        <div class="form-group mt-3">
            <%= f.label :content %>
            <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group mt-3">
            <%= f.label :embed_youtube %>
            <%= f.text_field :embed_youtube, class: 'form-control' %>
        </div>
        <div class="mb-3 mt-3">
            <%= f.label :tag_names, "タグ(任意) *複数タグを付ける場合は半角スペースで区切ってください" %>
            <%= f.text_field :tag_names, class: 'form-control', value: @default_tag %>
        </div>
        <div>
        <%= f.submit class: 'btn btn-primary' %>
        </div>
    <% end %>  
</div>