<%= form_with model: post, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class:'form-control'%>
    </div>
    <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', rows: 10 %>
    </div>
    <div class="form-group">
        <%= f.label :embed_youtube, 'YouTube URL(任意)' %>
        <%= f.text_field :embed_youtube, class: 'form-control' %>
    </div>
    
    <%= f.submit class: 'btn btn-primary' %>
<% end %>  
<!-- form_with内にfields_forを用いてタグとカテゴリもsave, updateできる形に後で実装していく-->