  <div class="col-sm-12 col-lg-4 mb-3">
      <div id="post-id-<%= post.id %>">
        <div class="card shadow" style="background-color: #ffffc2;">
          <h4 class="card-header" style="background-color: #ffffc2;">
              <%= link_to post.title, post_path(post) %>
            </h4>
          <!-- このしたのif文は後で削除する-->
          <% if post.category %>
            <div class="category-1"><%= post.category.name %></div>
          <% end %>
          <%= l post.created_at, format: :short %>
          <% if post.embed_youtube? %>
            <iframe width="400" height="225" src="https://www.youtube.com/embed/<%= "#{post.split_id_from_youtube_url}" %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <% else %>
            <%= link_to post_path(post) do %>
              <%= image_tag 'fox.png', class: 'card-img-top', size: '300x300' %>
            <% end %>
          <% end %>
          <div class="card-body">
            
            <h5 class="card-text"><%= post.content %></h5>

            <ul class="list-inline">
              <li class="list-inline-item">
                <%= image_tag "#{post.user.avatar}.png", size: '80x80' %>
                <h5><%= post.user.name %></h5>
              </li>
              <li class="list-inline-item">
                <% if current_user.own?(post) %>
                  <%= render 'crud_menus', post: post %>
                <% else %>
                  <%= render 'bookmark_button', post: post %>
                <% end %>
              </li>
            </ul>
            <div>
              <%= render post.tags %>
            </div>
          </div>
        </div>
      </div>
  </div> 