

 
<nav class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card" style="background-color: #ffffc2;">

        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <% if @post.image.attached? %>
                <%= image_tag @post.image.variant(resize_to_limit: [300, 200]) , class: 'card-img-top img-fluid' %>
              <% elsif @post.embed_youtube? %>
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= "#{@post.split_id_from_youtube_url}" %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
              <% else %>
                <%= image_tag "#{@post.category.name}.png", class: 'card-img-top img-fluid', size: '300x200' %>
              <% end %>  
            </div>
            <di class='col-md-9'>
              <% if @post.category.present? %>
                <li class="list-inline-item">
                  <%= render partial: 'categories/category', locals: { post: @post } %>
                </li>
              <% end %>
                <h3><%= @post.title %></h3>
                <%= raw Rinku.auto_link(simple_format(@post.content), :urls, 'target="_blank" rel="noopener noreferrer"') %>
            </div>
          </div>
          <div class="card-footer">
            <ul class="list-inline">
                <li class="list-inline-item">
                  <%= image_tag "icon/#{@post.user.avatar}.png", size: '80x80' %>
                </li>
                <li class="list-inline-item">
                  <p>投稿ユーザー</p>
                  <h5><strong><%= @post.user.name %></strong></h5>
                </li>
                <li class="list-inline-item">
                  <% if current_user.own?(@post) %>
                    <%= render 'crud_menus', { post: @post } %>
                  <% else %>
                    <%= render 'actions/like_button', { post: @post } %>
                    <%= render 'actions/bookmark_button', { post: @post } %>
                  <% end %>
                </li>
                <li class="list-inline-item">
                  <%= render @post.tags %>
                </li>
                <li class="list-inline-item"><%= l @post.created_at, format: :short %></li>
                <li class="list-inline-item float-end">
                  <%= link_to "https://twitter.com/intent/tweet?url=https://og.nullnull.dev/site/29da6d62-f206-afb0-3ceb-0f702c1f4abf&text=2歳児の【#{@post.category.name}】を楽しくする工夫をシェアしました！%0Aタイトルは「#{@post.title}」です！%0A%23育児あるある#{@post.hash_tags}%0A", target: '_blank' do %>
                    <i class="fab fa-twitter fa-lg"></i>
                  <% end %>
                </li>
              </ul>
            
          </div>
        </div>
      </article>

      <!-- コメントフォーム-->
      <%= render 'comments/form', { post: @post, comment: @comment } %>

      <!-- コメントエリア -->
      <%= render 'comments/comments', { comments: @comments } %>
    </div>
  </div>
</nav>