<h1><%= t('.title') %></h1>

<%= @post.title %>
<%= @post.user.name %>
<%= l @post.created_at, format: :long %>
<%= simple_format(@post.content) %>
<% if @post.embed_youtube? %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= "#{@post.split_id_from_youtube_url}" %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<% end %>
<%= render @post.tags %>
<%= render 'crud_menus', post: @post if current_user.own?(@post) %>
