<h1><%= t('.title') %></h1>

<%= @post.title %>
<%= @post.user.name %>
<%= l @post.created_at, format: :long %>
<%= simple_format(@post.content) %>

<!-- ↓編集、削除ボタンはcrud_menuパーシャルにすること。また、fontawesomeを使うこと。current_userでなければbookmark_buttonにすること。-->
<%= link_to "編集", edit_post_path(@post) %>
<%= link_to "削除", post_path(@post), data: { turbo_method: :delete } %>